mixin breadcrumb
  ol.breadcrumb.mb-0
    li.breadcrumb-item
      a(href="#") All in one  
    li.breadcrumb-item
      a(href="#") Điện Tử - Điện lạnh
    li.breadcrumb-item
      a(href="#") Máy lạnh - Máy điều hòa
    li.breadcrumb-item.active Điều hòa treo tường Daikin