mixin rating
  .rating
    span.ic-star.active
    span.ic-star.active
    span.ic-star.active
    span.ic-star.active
    span.ic-star

mixin catMenu(className)
  ul(class=className)
    li
      a(href='#') Điện tử , điện lạnh
        span.ic-next
      ul
        li
          a(href='#') Nhà thông minh
        li
          a(href='#') Nhà thông minh
        li
          a(href='#') Nhà thông minh
            span.ic-next
          ul
            li
              a(href='#') Nhà thông minh
                span.ic-next
              ul
                li
                  a(href='#') Nhà thông minh
                li
                  a(href='#') Nhà thông minh
                li
                  a(href='#') Dịch vụ quản lý
            li
              a(href='#') Nhà thông minh
            li
              a(href='#') Dịch vụ quản lý
        li
          a(href='#') Nhà thông minh
        li
          a(href='#') Dịch vụ quản lý
    li
      a(href='#') Nhà thông minh
    li
      a(href='#') Nhà thông minh
    li
      a(href='#') Dịch vụ quản lý
    li
      a(href='#') Dịch vụ nhân công
    li
      a(href='#') Dịch vụ viễn thông
    li
      a(href='#') Dịch vụ công nghệ thông tin