mixin rating
  .rating
    span.ic-star.active
    span.ic-star.active
    span.ic-star.active
    span.ic-star.active
    span.ic-star

mixin pagination
  nav
    ul.pagination
      li.page-item
        a.page-link(href="#")
          span.ic-prev
      li.page-item.active
        a.page-link(href="#") 1
      li.page-item
        a.page-link(href="#") 2
      li.page-item
        a.page-link(href="#") 3
      li.page-item
        a.page-link(href="#") 4
      li.page-item
        a.page-link(href="#")
          span.ic-next

mixin catMenu(className)
  ul(class=className)
    li
      a(href='#') Điện tử , điện lạnh
        span.ic-next
      ul
        li
          a(href='#') Nhà thông minh
        li
          a(href='#') Nhà thông minh
        li
          a(href='#') Nhà thông minh
            span.ic-next
          ul
            li
              a(href='#') Nhà thông minh
                span.ic-next
              ul
                li
                  a(href='#') Nhà thông minh
                li
                  a(href='#') Nhà thông minh
                li
                  a(href='#') Dịch vụ quản lý
            li
              a(href='#') Nhà thông minh
            li
              a(href='#') Dịch vụ quản lý
        li
          a(href='#') Nhà thông minh
        li
          a(href='#') Dịch vụ quản lý
    li
      a(href='#') Nhà thông minh
    li
      a(href='#') Nhà thông minh
    li
      a(href='#') Dịch vụ quản lý
    li
      a(href='#') Dịch vụ nhân công
    li
      a(href='#') Dịch vụ viễn thông
    li
      a(href='#') Dịch vụ công nghệ thông tin

mixin featuresSubFooter
  .row.justify-content-between.features
    .item-feature
      .icon
        span.ic-support
          span.path1
          span.path2
          span.path3
      .content
        span Hỗ trợ quý khách hàng 24/7 suốt thời gian sử dụng
    .item-feature
      .icon
        span.ic-payment
          span.path1
          span.path2
      .content
        span Thanh toán linh hoạt qua tiền mặt, visa
    .item-feature
      .icon
        span.ic-change
          span.path1
          span.path2
      .content
        span Đổi trả nhanh trong 7 ngày
    .item-feature
      .icon
        span.ic-delivery
          span.path1
          span.path2
          span.path3
      .content
        span Giao hàng hoả tốc trong 2 giờ

mixin homeCta
  .home-cta
    .container.sm
      .row.justify-content-center
        .inner
          .left
            .icon
              span.ic-email
                span.path1
                span.path2
            .content  
              strong Đăng ký nhận bản tin Viettel AIO
              span Nhận các thông tin khuyến mãi siêu hấp dẫn
          .right
            form.form-subcrible
              .input-group
                input.form-control(type="text" placeholder="Địa chỉ email của bạn")
                .input-group-append
                  button.btn.btn-search.btn-color3(type="button") ĐĂNG KÝ
