//-------------------------------------------------------
//- Modules :: Footer
//-------------------------------------------------------

mixin footer()
  footer.footer
    .container
      .row
        .row-inner
          .row
            .col-lg-3.col-md-6.links.mb-lg-0.mb-4
              h4 HỖ TRỢ KHÁCH HÀNG
              a(href='#') Chính sách đổi trả hàng
              a(href='#') Hình thức thanh toán
              a(href='#') Chính sách giao hàng
              a(href='#') Quy trình mua hàng
              a(href='#') Chính sách khiếu nại
              a(href='#') Video hỗ trợ CSKH
              a(href='#') Tư vấn
              a(href='#') Lắng nghe để phát triển
              a(href='#') Liên hệ
            .col-lg-3.col-md-6.links.mb-lg-0.mb-4
              h4 VỀ CHÚNG TÔI
              a(href='#') Viettel Công Trình
              a(href='#') Viettel All in One
              a(href='#') Chính sách bảo mật thanh toán
              a(href='#') Chính sách bảo mật thông tin
              a(href='#') Điều khoản sử dụng
              a(href='#') Sản phẩm
            .col-lg-3.col-md-6.links.mb-lg-0.mb-4
              h4 THÔNG TIN HỮU ÍCH
              a(href='#') Tin tức & Khuyến mãi
              a(href='#') Thư viện ảnh
              a(href='#') Dịch vụ
              a(href='#') Sản phẩm
              a(href='#') Hệ thống đại lý
            .col-lg-3.col-md-6.text-lg-right
              h4 MẠNG XÃ HỘI
              .social-links
                a(href='#')
                  span.ic-fb
                    span.path1
                    span.path2
                a(href='#')
                  span.ic-tw
                    span.path1
                    span.path2
                a(href='#')
                  span.ic-ytb
                    span.path1
                    span.path2
              button.btn.btn-orange.btn-upload.btn-pill
                span.pr-2.ic-upload
                | Đề xuất sản phẩm
              p.mb-0.text-td Tổng đài hỗ trợ:
                a.pl-2(href='tel: 1900989868') 1900 989868
        .copyright
          .row
            .col-lg-8.mb-4.mb-lg-0
              h4 Tổng Công ty CP Công trình Viettel.
              p Địa chỉ: Số 1 Giang Văn Minh, phường Kim Mã, quận Ba Đình, thành phố Hà Nội.
              p Điện thoại: 024.6266.1225
              p E-mail: viettelxlct@viettel.com.vn
              p Mã số doanh nghiệp: 0104753865 do Sở Kế hoạch và Đầu tư thành phố Hà Nội cấp lần đầu ngày 09/06/2010.
            .col-lg-4.text-lg-right
              .language
                span Ngôn ngữ
                .dropdown
                  button.btn.btn-language.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    img(src='images/vn.png')
                  .dropdown-menu.dropdown-menu-right
                    a.dropdown-item(href="#")
                      span Vietnamese
                      img(src='images/vn.png')
                    a.dropdown-item(href="#")
                      span English
                      img(src='images/en.png')
              img.img-gov(src='images/gov.png', alt='demo')
              p.text-copyright © 2020 - Bản quyền thuộc về tổng công ty Viettel Công Trình
