include _common

mixin homeSlider
  .home-slider.js-home-slider
    .container
      .row
        .slider-inner
          .side-cat
            +catMenu('cat-menu')
          .side-slider
            .js-home-carousel.owl-carousel.owl-theme
              .item(data-color='#000')
                img(src='images/img-slide-1.png', alt='demo')
              .item(data-color='#00918e')
                img(src='images/img-slide-2.png', alt='demo')
            .slider_nav
              button.js-home-slider-prev.circle-arrow-carousel.prev
                span.ic-prev
              button.js-home-slider-next.circle-arrow-carousel.next
                span.ic-next