// ======================================================
// Components :: content
// ======================================================

.promotion-01 {
  margin-bottom: 30px;

  .row {
    flex-wrap: nowrap;
  }

  .content {
    flex-grow: 1;
    padding: 0 30px 0 54px;

    p {
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    a {
      color: $color3;
      display: flex;
      font-weight: 500;
    }

    .divider {
      margin-bottom: 80px;
    }
  }

  .cover {
    img {
      width: 100%;
    }
  }

  @include breakpoint-down('desktop') {
    .row {
      flex-wrap: wrap;
    }

    .content {
      width: 100%;
      padding: 15px;

      & > p > br {
        display: none;
      }

      .divider {
        margin-bottom: 30px;
      }
    }

    .cover {
      width: 100%;
    }
  }
}

.sd-header-kmh {
  h2 {
    color: $orange2;
    font-size: 18px;
    margin: 0;
    font-weight: 500;
  }

  .left {
    display: flex;
    align-items: center;
  }

  .ic-fire {
    font-size: 30px;
    padding-right: 15px;
    color: $orange2;
  }
}

.dvnb {
  .card-dv {
    height: 100%;
  }
}

.home-banner {
  margin-bottom: 60px;

  img {
    max-width: 100%;
    margin-bottom: 30px;
  }

  @include breakpoint-down('phone') {
    margin-bottom: 30px;
  }
}

.home-partner {
  background-color: $white;

  .partner {
    padding: 40px 0;
    border-bottom: 1px solid #ededed;

    a {
      display: flex;
      width: calc(20% - 73px);
      align-items: center;

      @include breakpoint-down('desktop') {
        width: calc(25% - 25px);
        padding: 0 30px 30px;
      }

      @include breakpoint-down('phone') {
        width: 50%;
        padding: 0 30px 30px;
      }
    }

    img {
      max-width: 100%;
    }

    @include breakpoint-down('desktop') {
      padding-bottom: 10px;
    }
  }
}

.features {
  padding: 46px 0 54px;

  .item-feature {
    width: calc((100% - 115px) / 4);
  }

  @include breakpoint-down('desktop') {
    padding-bottom: 24px;

    .item-feature {
      width: calc((100% - 115px) / 2);
      margin-bottom: 30px;
    }
  }

  @include breakpoint-down('phone') {
    .item-feature {
      width: 100%;
    }
  }
}

.item-feature {
  display: flex;
  align-items: center;

  .icon {
    font-size: 48px;
    margin-right: 15px;
  }

  .content {
    font-size: 16px;
  }
}

.home-cta {
  .inner {
    display: flex;
    width: 100%;
    max-width: 750px;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }

  .left {
    display: flex;
    flex: 0 0 50%;
    align-items: center;

    .icon {
      font-size: 48px;
      margin-right: 26px;
    }

    .content {
      strong {
        font-weight: 500;
        display: block;
        line-height: 22px;
      }

      span {
        color: $black3;
        line-height: 22px;
      }
    }
  }

  .right {
    flex: 0 0 50%;
  }

  .form-subcrible {
    .form-control {
      height: 40px;
      border-color: #d1d4d4;

      @include placeholder {
        color: #aab6b6;
        font-size: 14px;
        font-weight: 400;
      }
    }

    .btn {
      font-size: 12px;
      font-weight: 500;
      width: 100px;
    }
  }

  @include breakpoint-down('phone') {
    .inner {
      max-width: 100%;
      flex-wrap: wrap;
    }

    .left {
      flex: 0 0 100%;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
    }

    .right {
      flex: 0 0 100%;
    }
  }
}
