// ======================================================
// Layout :: Header
// ======================================================

.topbar {
  color: $white;
  background-color: $color2;

  .row {
    height: 40px;
  }

  .item {
    margin-left: 40px;

    &.upload {
      .btn-upload {
        min-width: 177px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        padding: 4px 10px;
      }

      .ic-upload {
        font-size: 16px;
      }
    }

    &.tel {
      a {
        font-weight: 900;
        font-size: 16px;
        color: $white;

        &:hover {
          color: $white;
        }
      }
    }
  }

  @include breakpoint-down('phone') {
    display: none;

    .row {
      height: auto;
    }

    .item {
      margin: 0;

      &.upload {
        margin: 15px 0;
      }
    }
  }
}

.language {
  display: flex;
  align-items: center;

  .dropdown-item {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
    padding: 10px 15px;

    img {
      width: 24px;
    }
  }

  .btn-language {
    background-color: transparent;
    border: 0;

    &:after {
      border-top-color: $white;
      margin-left: 10px;
    }

    img {
      width: 24px;
    }

    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
}

.header-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header {
  background-color: $color1;

  &.header-home {
    .dropdown-cat {
      pointer-events: none;
    }
  }

  .row {
    min-height: 100px;
  }

  .dropdown-cat {
    .dropdown-toggle {
      &:after {
        display: none;
      }

      &:focus {
        box-shadow: none;
        outline: 0;
      }

      &[aria-expanded='true'] {
        background-color: $orange;
        border-color: $orange;
      }
    }

    .dropdown-menu {
      min-width: 200px;
    }

    // .dropdown-item {
    //   padding: 9px 12px;
    //   color: $black2;
    //   display: flex;
    //   align-items: center;

    //   [class*='ic-'] {
    //     font-size: 20px;
    //     padding-right: 22px;
    //   }

    //   &:last-of-type {
    //     padding-bottom: 20px;
    //   }

    //   &:first-of-type {
    //     padding-top: 20px;
    //   }

    //   &:hover {
    //     background-color: rgba(0, 145, 143, .08);

    //     [class*='ic-'] {
    //       color: $color3;
    //     }
    //   }
    // }

    &:hover {
      .dropdown-menu {
        display: block;
      }
    }
  }

  .btn-menu {
    background-color: transparent;
    border: 1px solid rgba($white, .2);
    color: $white;
    font-size: 20px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    line-height: 20px;
    padding: 0;

    &:hover,
    &.active {
      background-color: $orange;
      border-color: $orange;
    }
  }

  .logo {
    max-width: 177px;
  }

  .form-search {
    min-width: 360px;

    .btn-search {
      width: 48px;
      height: 48px;
      font-size: 20px;
      line-height: 30px;
    }

    .form-control-lg {
      border-radius: 4px 0 0 4px;
      font-size: 14px;
      height: 48px;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .user-info {
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .item:not(:last-of-type) {
      padding-right: 25px;
    }

    .item {
      display: flex;
      color: $white;
      align-items: center;

      .content {
        width: 58px;
        font-size: 12px;
      }

      .icon {
        border-radius: 50%;
        border: 1px solid rgba($white, .2);
        text-align: center;
        line-height: 40px;
        height: 38px;
        width: 38px;
        margin-right: 9px;
        font-size: 20px;
        position: relative;

        .count {
          position: absolute;
          top: -4px;
          right: -4px;
          width: 16px;
          height: 16px;
          background-color: $orange;
          color: $white;
          font-size: 12px;
          border-radius: 50%;
          line-height: 16px;
        }
      }

      &:hover {
        cursor: pointer;

        .icon {
          background-color: $orange;
          border-color: $orange;
        }
      }
    }
  }

  .dropdown.user {
    .dropdown-toggle {
      display: flex;
      align-items: center;

      .content {
        white-space: normal;
      }

      &:after {
        display: none;
      }

      &[aria-expanded='true'] {
        .icon {
          background-color: $orange;
          border-color: $orange;
        }
      }
    }

    .dropdown-menu {
      min-width: 260px;
    }

    .dropdown-item--user {
      padding: 9px 12px;
      color: $black2;
      display: flex;
      align-items: center;

      [class*='ic-'] {
        font-size: 20px;
        padding-right: 22px;
      }

      &:last-of-type {
        padding-bottom: 20px;
      }

      &:first-of-type {
        padding-top: 20px;
      }

      &:hover {
        background-color: rgba(0, 145, 143, .08);

        [class*='ic-'] {
          color: $color3;
        }
      }
    }

    &:hover {
      .dropdown-menu {
        display: block;
      }
    }
  }

  .icon-cart-mobile {
    position: relative;

    .count {
      position: absolute;
      bottom: -4px;
      right: -4px;
      width: 16px;
      height: 16px;
      background-color: $orange;
      color: $white;
      font-size: 12px;
      border-radius: 50%;
      line-height: 16px;
      text-align: center;
    }
  }

  @include breakpoint-down('desktop') {
    padding: 15px 0;

    .user-info {
      width: 100%;
    }

    .user-info-inner {
      margin-top: 30px;
      width: 100%;
      justify-content: center;
    }
  }

  @include breakpoint-down('phone') {
    justify-content: center;
    padding: 6px 0;

    .form-search {
      margin-top: 0;
      min-width: 100%;
      padding: 0;

      .form-control-lg {
        height: 40px;
      }

      .btn-search {
        height: 40px;
        line-height: 26px;
      }
    }

    .user-info {
      display: none;
    }

    .logo-wrap {
      margin-right: auto;
      padding-left: 30px;

      img {
        max-width: 112px;
      }
    }

    .header-mobile-action {
      color: $white;
      display: flex;
      font-size: 24px;

      .dropdown.user {
        margin-right: 15px;
      }

      .dropdown.user .dropdown-toggle[aria-expanded='true'] .icon {
        color: $orange;
        background-color: transparent;
      }
    }
  }

  @include breakpoint-down('smallphone') {
    .user-info {
      overflow: auto;

      &-inner {
        padding: 10px 15px 0;
        overflow: auto;
        width: 540px;
        margin-top: 15px;
      }
    }
  }
}

.menu {
  height: 100vh;
  overflow: auto;
  width: 250px;
  padding: 60px 30px;
  background-color: $color2;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  transition: all .3s;
  transform: translateX(-100%);
  box-shadow: 3px 0 9px -4px rgba(0, 0, 0, .5);

  ul {
    padding: 0;
    margin: 0;

    li {
      display: block;
      height: 30px;
    }

    a {
      color: $white;
      font-size: 16px;
    }
  }

  .btn-menu {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: $orange;
    border-color: $orange;
    color: $white;
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 18px;

    span {
      display: block;
      margin-top: -3px;
    }
  }
}

.menu-is-open {
  .menu {
    transform: translateX(0);
  }

  &:before {
    content: '';
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($black, .7);
  }
}

.cat-menu {
  margin: 0;
  list-style: none;
  padding: 30px 0;
  height: 100%;
  position: relative;
  z-index: 9;

  li {
    &:not(:last-of-type) {
      margin-bottom: 18px;
    }

    &:hover {
      & > ul {
        display: block;
      }
    }
  }

  a {
    color: $black1;
    display: flex;
    transition: all .3s;
    padding: 0 12.5px;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;

    .ic-next {
      min-width: 14px;
      font-size: 10px;
      color: $black2;
    }

    &:hover {
      color: $orange;
      text-decoration: none;

      .ic-next {
        color: $orange;
      }
    }
  }

  ul {
    margin: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: calc(100% - 2px);
    display: none;
    width: 200px;
    background-color: $white;
    padding: 30px 0;
    z-index: 9;
    height: 100%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25);
  }
}

.mm-ocd {
  .ic-next {
    display: none;
  }
}

.header-cart {
  background-color: $color3;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  .row {
    padding: 30px 0;
  }

  .logo {
    max-width: 177px;

    img {
      max-width: 100%;
    }
  }

  p {
    color: $white;

    strong {
      font-size: 16px;
    }
  }

  @include breakpoint-down('phone') {
    padding: 0 15px;

    .logo {
      max-width: 120px;
    }

    .row {
      padding: 15px 0;
    }
  }
}

.dropdown.user {
  .not-log-out {
    padding: 30px 20px;

    .btn {
      height: 40px;
      margin-bottom: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 12px;

      &.btn-google {
        margin-bottom: 0;
      }

      [class*='ic-'] {
        font-size: 16px;
      }
    }
  }
}
