// ======================================================
// Base :: Global like html, body, img, a, ul
// ======================================================

body {
  font-size: 14px;
  line-height: 1.3;
  font-family: $font-base;
}
