// ======================================================
// Abstracts :: Variables
// ======================================================

// Color
$white: #fff;
$black: #000;
$color1: #00918e;
$color2: #017e7b;
$color3: #00918f;
$orange: #f78624;
$orange2: #fe5f36;
$red: #fe5f36;
$black1: #132726;
$black2: #737c7c;
$black3: #aab6b6;
$black4: #f8f8f8;
$yellow: #ffca4c;
$green: #30a556;

// Paths
$path-image: '../images';
$path-fonts: '../fonts';

// Fonts
$font-base: 'Roboto', sans-serif;

// >> Font-size

// >> Font icon
$font-family-icons: vtaio;

// >> Font-weight

// Borders

// z-index

