.product-detail {
  &-page-inner {
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(19, 39, 38, .08);
    margin-bottom: 40px;
  }

  &-overview {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;

    & > .left {
      flex: 0 0 40%;
    }

    & > .right {
      flex: 0 0 60%;
    }

    @include breakpoint-down('desktop') {
      flex-wrap: wrap;

      & > .left {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
      }

      & > .right {
        flex: 0 0 100%;
      }
    }
  }

  &-feature-image {
    border: 1px solid #c4d3d3;
    background-color: $white;
    margin-bottom: 30px;

    img {
      width: 100%;
    }

    @include breakpoint-down('desktop') {
      margin-left: auto;
      margin-right: auto;
      width: 400px;
    }

    @include breakpoint-down('phone') {
      width: 100%;
    }
  }

  &-thumbs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .item {
      width: calc((100% - 55.2px) / 5);
      position: relative;
      cursor: pointer;
      transition: all .3s;
      border: 1px solid #c4d3d3;

      img {
        width: 100%;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(19, 39, 38, .5);
        color: $white;
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        text-align: center;
      }

      &:hover {
        opacity: .8;

        .overlay {
          background-color: rgba($black, 1);
        }
      }
    }

    @include breakpoint-down('desktop') {
      margin-left: auto;
      margin-right: auto;
      width: 400px;
    }

    @include breakpoint-down('phone') {
      width: 100%;
    }
  }

  &-share {
    p {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: $black2;
      font-weight: 500;
    }

    a {
      transition: all .3s;

      &:hover {
        opacity: .8;
        text-decoration: none;
      }
    }

    [class*='ic-'] {
      font-size: 36px;
    }

    @include breakpoint-down('desktop') {
      margin-left: auto;
      margin-right: auto;
      width: 400px;
    }

    @include breakpoint-down('phone') {
      width: 100%;
    }
  }

  &-info {
    padding-left: 40px;

    .title {
      font-size: 36px;
      color: $black1;
      font-weight: 400;
      margin-bottom: 15px;
    }

    .rating {
      font-size: 18px;
    }

    .rating-wrap {
      display: flex;
      align-items: center;
      font-size: 16px;
      color: $black2;
      margin-bottom: 10px;
    }

    .s-divider {
      margin-bottom: 20px;
    }

    @include breakpoint-down('desktop') {
      padding-left: 0;
    }
  }

  &-code {
    font-size: 16px;
    color: $black2;
  }

  &-price {
    &-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      .product-price {
        font-size: 36px;
        color: $orange;
        padding-right: 20px;
      }

      .product-price--old {
        font-size: 16px;
        color: $black2;
        text-decoration: line-through;
        padding-right: 20px;
      }
    }
  }

  &-brand {
    color: $black2;
    margin-bottom: 20px;

    a {
      color: $color3;
      padding-left: 5px;
    }
  }

  &-short-info {
    display: flex;
    margin-bottom: 20px;

    ul {
      padding-left: 20px;
      margin: 0;

      li {
        font-size: 16px;
        line-height: 33px;
        font-weight: 300;
      }
    }

    .right {
      flex: 0 0 200px;

      .feature-badges {
        width: 100%;

        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }
    }

    .left {
      flex-grow: 1;
    }

    @include breakpoint-down('desktop') {
      flex-wrap: wrap;

      .left {
        width: 100%;
        flex: 0 0 100%;
        margin-bottom: 15px;
      }

      .right {
        width: 100%;
        flex: 0 0 100%;
      }
    }
  }

  &-km {
    position: relative;
    padding: 42px 20px 18px;
    background-color: #edf7f7;
    border-radius: 8px;
    margin-bottom: 20px;

    .badges-km {
      position: absolute;
      left: 0;
      top: 10px;
    }

    .item {
      line-height: 32px;
      color: $black1;
      display: flex;
      align-items: center;

      .icon {
        color: #32bea6;
        padding-right: 10px;
      }
    }
  }

  &-footer-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .left {
      display: flex;
      align-items: center;

      & > span {
        white-space: nowrap;
      }
    }

    .btn {
      min-width: 200px;
      height: 50px;
      margin-left: 10px;
      font-size: 16px;
      border-radius: 3px;

      .ic-cart {
        font-size: 18px;
        padding-right: 8px;
      }
    }

    @include breakpoint-down('desktop') {
      flex-wrap: wrap;
      margin-bottom: 10px;

      .left {
        width: 100%;
        margin-bottom: 15px;
      }

      .right {
        width: 100%;

        .btn {
          margin-left: 0;
          margin-right: 15px;
          margin-bottom: 10px;
        }
      }
    }
  }

  &-dvmk {
    h3 {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .d-divider {
      margin: 13px 0;
    }
  }

  &-information {
    width: 100%;

    .title-02 {
      margin-bottom: 20px;
    }

    .box {
      width: 100%;
      padding: 44px 40px 65px;
    }

    .product-detail-information-table {
      margin-bottom: 54px;
    }

    .content-sumary {
      img {
        max-width: 100%;
      }
    }

    @include breakpoint-down('desktop') {
      .box {
        padding: 44px 15px;
      }
    }
  }
}

.product-slider-2 {
  overflow: hidden;
}

.product-detail-dg {
  margin-bottom: 100px;

  .box {
    width: 100%;
  }

  @include breakpoint-down('desktop') {
    margin-bottom: 30px;
  }
}

.rating-overview {
  width: 100%;
  padding: 40px 30px;
  display: flex;
  border-bottom: 1px solid #ededed;

  .left {
    flex: 0 0 580px;
    display: flex;
    justify-content: space-between;
  }

  .rating-avg {
    .title {
      font-size: 16px;
      margin-bottom: 13px;
    }

    .score {
      font-size: 36px;
      font-weight: 500;
      color: $color3;
      margin-bottom: 10px;
    }

    .rating {
      font-size: 24px;
      margin-bottom: 10px;

      .ic-star {
        padding-right: 5px;
      }
    }

    .tdg {
      font-size: 16px;
      color: $black2;
    }
  }

  .rating-detail {
    flex-grow: 1;

    .item {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-end;

      .rating {
        padding-right: 5px;

        .ic-star {
          margin-right: 5px;
        }
      }

      .progress {
        flex-grow: 1;
        margin-right: 10px;
        max-width: 200px;
      }

      &:not(:last-of-type) {
        margin-bottom: 15px;
      }
    }
  }

  .right {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  .box-open-dg {
    width: 100%;
    max-width: 410px;

    .btn-orange {
      min-width: 200px;
    }
  }

  @include breakpoint-down('desktop') {
    flex-wrap: wrap;

    .left {
      flex: 0 0 100%;
      margin-bottom: 30px;
    }

    .right {
      flex: 0 0 100%;
      justify-content: center;
    }
  }

  @include breakpoint-down('smallphone') {
    .left {
      flex-wrap: wrap;

      .rating-avg {
        width: 100%;
        margin-bottom: 25px;
      }

      .rating-detail {
        width: 100%;

        .item .progress {
          max-width: 100%;
        }
      }
    }
  }
}

.rating-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9.5px 30px;
  border-bottom: 1px solid #ededed;

  .title {
    font-size: 16px;
    margin-bottom: 0;
  }

  .filters-rating {
    display: flex;
  }

  .common-select-01 {
    min-width: 200px;
    max-width: 200px;
  }

  @include breakpoint-down('phone') {
    .common-select-01 {
      min-width: 0;
      max-width: 200px;
    }
  }
}

.list-dg {
  padding: 12px 30px 32px;

  .item-dg {
    padding-bottom: 15px;
    padding-top: 20px;

    &:not(:last-of-type) {
      border-bottom: 1px solid #ededed;
    }
  }
}

.no-dg {
  padding: 30px 30px 40px;
  color: #aab6b6;
  line-height: 24px;

  .ic-empty-rate {
    font-size: 48px;
    padding-bottom: 10px;
  }

  .inner {
    text-align: center;
  }
}

.thanking-vt {
  padding: 0 30px 45px 190px;
  border-bottom: 1px solid #ededed;

  &-inner {
    background-color: #edf7f7;
    line-height: 19px;
    padding: 20px;

    h3 {
      font-weight: 500;
      font-size: 16px;
      color: $color3;
    }
  }

  @include breakpoint-down('phone') {
    padding-left: 30px;
  }
}

.pagination-wrap {
  padding: 14px 30px 15px;
  display: flex;
  justify-content: flex-end;
}

.sub-footer {
  background-color: $white;
}

.modal-dg {
  .modal-content {
    border-radius: 0;
  }

  .modal-header {
    padding: 12px 30px;
    border-bottom: 1px solid #ededed;
    border-radius: 0;
    justify-content: space-between;
    align-items: center;

    .modal-title {
      font-size: 16px;
      font-weight: 400;
      color: $black1;
    }

    .close {
      width: 16px;
      height: 16px;
      background-color: #d1d4d4;
      color: $white;
      font-size: 12px;
      border-radius: 50%;
      margin: 0;
      padding: 0;
    }
  }

  .modal-body {
    padding: 20px 30px 0;
    border-bottom: 0;
  }

  .product-info {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;

    .cover {
      width: 100px;
      height: 100px;
      border: 1px solid #c4d3d3;
      margin-right: 20px;

      img {
        max-width: 100%;
      }
    }

    .content {
      flex-grow: 1;

      .title {
        font-size: 24px;
        font-weight: 400;
        padding-top: 10px;
        color: $black1;
      }

      .brand {
        color: $black1;
        font-size: 14px;

        a {
          color: $color3;
          padding-left: 3px;
        }
      }
    }
  }

  .product-dg {
    padding-top: 20px;

    .rating-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 18px;
    }

    .rating {
      .ic-star {
        padding-right: 4px;
        font-size: 24px;
      }
    }
  }

  .form-group {
    label {
      color: $black1;
    }

    &.nd {
      margin-bottom: 20px;
    }
  }

  .upload-image-action {
    display: flex;
    align-items: center;
    color: $black1;
    margin-bottom: 28px;

    .btn-sm {
      height: 30px;
      min-width: 100px;
      padding: 4px 10px;
    }
  }

  .upload-images {
    display: flex;

    .image-wrap {
      position: relative;
      width: 80px;
      height: 80px;
      margin: 0 22px 20px 0;

      img {
        width: 100%;
      }

      .delete-img {
        width: 16px;
        height: 16px;
        background-color: #ff3618;
        color: $white;
        font-size: 12px;
        border-radius: 50%;
        margin: 0;
        padding: 0;
        border: 0;
        top: -8px;
        right: -8px;
        position: absolute;
        line-height: 16px;

        &:hover {
          background-color: darken(#ff3618, 20%);
        }
      }
    }
  }

  .upload-images-wrap {
    border-bottom: 1px solid #ededed;
  }

  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 30px;
    border-top: 0;

    .btn-color3 {
      height: 50px;
      min-width: 200px;
      margin: 0;
    }

    i {
      color: $black3;

      a {
        color: $color3;
      }
    }

    @include breakpoint-down('tablet') {
      i {
        padding-bottom: 15px;
      }
    }
  }
}
