.btn-orange {
  background-color: $orange;
  color: $white;

  &:hover {
    color: $white;
    background-color: darken($orange, 10%);
  }
}

.btn-pill {
  border-radius: 20px;
}

.btn-color3 {
  background-color: $color3;
  color: $white;

  &:hover {
    color: $white;
    background-color: darken($color3, 10%);
  }
}

.btn-outline-color3 {
  background-color: rgba(0, 145, 143, .08);
  color: $color3;
  font-weight: 500;
  height: 40px;
  border: 1px solid $color3;
}
