.btn {
  padding: .45rem .75rem;
  border-radius: 3px;
}

.btn:focus,
.btn.focus {
  box-shadow: none;
  outline: 0;
}

.btn-orange {
  background-color: $orange;
  color: $white;

  &:hover {
    color: $white;
    background-color: darken($orange, 10%);
  }
}

.btn-pill {
  border-radius: 20px;
}

.btn-color3 {
  background-color: $color3;
  color: $white;

  &:hover {
    color: $white;
    background-color: darken($color3, 10%);
  }
}

.btn-outline-color3 {
  background-color: rgba(0, 145, 143, .08);
  color: $color3;
  font-weight: 500;
  height: 40px;
  border: 1px solid $color3;
}

.btn-outline-white {
  background-color: $white;
  border-color: #d1d4d4;
  color: $black1;
  border-radius: 0;
  font-weight: 400;
  white-space: nowrap;
}

.btn-grey {
  background-color: #ededed;
  color: $black1;

  &:hover {
    background-color: darken(#ededed, 10%);
  }
}
