extends modules/layout/_page-default
include modules/_product-slider
include modules/_breadcrumb
include modules/_common

block head
  +head('Chi tiet tin')
block header
  +header

block main
  .breadcrumb-wrap.bg-gray1.mb-4
    .container.sm
      .row
        +breadcrumb
  .ctt-wrap
    .container.sm
      .row
        .box-ctt.sd
          h3.tt-ctt Kinh nghiệm dùng máy lọc không khí hiệu quả, tiết kiệm
          span.meta 26/12/2019 11:58
          p.sapo Trước tình hình dịch bệnh, bên cạnh việc thực hiện các biện pháp phòng chống và tăng cường sức đề kháng cá nhân thì việc làm sạch không khí trong phòng, nhà ở bằng máy lọc không khí là việc làm cần thiết để đảm bảo sức khỏe cho cả gia đình.
          .box-cttcontent
            img.cover(src=`https://picsum.photos/id/44/960/639`, alt='demo')
            p Trước tình hình dịch bệnh, bên cạnh việc thực hiện các biện pháp phòng chống và tăng cường sức đề kháng cá nhân thì việc làm sạch không khí trong phòng, nhà ở bằng máy lọc không khí là việc làm cần thiết để đảm bảo sức khỏe cho cả gia đình.
            p Làm sạch không khí trong nhà mùa dịch cúm bằng máy lọc không khí
            p Nhiều người cho rằng, chức năng chính của máy lọc không khí là tạo ẩm nên thường đắn đo khi sử dụng. Thực tế, thiết bị này sở hữu nhiều tính năng hiện đại so với những gì bạn vẫn nghĩ.
            p Hoạt động dựa trên nguyên tắc "hút - đẩy", máy lọc không khí sẽ phát tán vào môi trường các điện tích âm để trung hòa ion dương có hại, tạo hiệu ứng gió điện để vây bắt các phân tử độc hại, nhất là bụi mịn PM2.5, vi rút, vi khuẩn và cố định chúng tại màng lọc của máy. Sau đó đẩy không khí sạch ra ngoài, giúp người dùng dễ chịu hơn trong không gian sống trong lành.
            p Nếu ngôi nhà của bạn bị nhiễm vi-rút, chúng sẽ sống trong không khí, vì ngôi nhà thường được đóng cửa kín, và vi-rút không thoát ra ngoài được. Do đó, bạn sẽ hít thở không khí bị ô nhiễm và có nguy cơ cao bị cảm lạnh hoặc cúm.
            p.mb-5 Làm sạch không khí trong nhà mùa dịch cúm bằng máy lọc không khí
            img.cover.mb-5(src=`https://picsum.photos/id/44/960/639`, alt='demo')
            p Trước tình hình dịch bệnh, bên cạnh việc thực hiện các biện pháp phòng chống và tăng cường sức đề kháng cá nhân thì việc làm sạch không khí trong phòng, nhà ở bằng máy lọc không khí là việc làm cần thiết để đảm bảo sức khỏe cho cả gia đình.
            p Để loại bỏ các virus này, máy lọc không khí có thể hoạt động trong nhà để hút và tiêu diệt bằng việc sử dụng các loại màng lọc bên trong máy. Các máy lọc không khí có thể ngăn ngừa sự lây lan của virus là những máy lọc có bộ lọc True HEPA để làm sạch không khí.
            p Ngoài ra, nếu máy lọc không khí của bạn có công nghệ lọc ion âm (Ionizer) hoặc đèn UV, đây là công cụ bảo vệ tốt nhất giúp bạn chống lại virus.
            p Lưu ý: Bạn nên kiểm tra mức ozone của máy lọc không khí khi mua một máy lọc không khí tạo ion. Một số người có thể gặp các triệu chứng hen suyễn khi tiếp xúc với môi trường có nồng độ ozone cao.
            p Máy lọc không khí Daikin loại bỏ vi khuẩn gây cúm trong gia đình bạn
            p Sự lây lan của các bệnh do virut như cảm lạnh, cúm là điều mà tất cả các gia đình đều quan tâm. Sức khỏe của các thành viên trong gia đình và phòng chống sự lây lan của virus là những vấn đề quan trọng. Việc sử dụng đúng máy lọc không khí có bộ lọc HEPA hoặc máy lọc không khí tạo ion hoặc bộ lọc đèn UV rất hữu ích cho chất lượng không khí trong nhà. Bằng cách đầu tư vào các máy lọc không khí như vậy, không khí trong nhà của bạn có thể an toàn và lành mạnh hơn cho đường hô hấp của bạn.
            p Làm sạch không khí trong nhà mùa dịch cúm bằng máy lọc không khí
            p Tuy nhiên, bạn nên cân nhắc giữ thói quen vệ sinh để ngăn chặn virus. Đeo khẩu trang ở nơi công cộng, và che mũi khi hắt hơi và ho là một số thói quen tốt được khuyên dùng. Ngay cả việc rửa tay thường xuyên cũng có thể giúp làm giảm sự lây lan của chất dịch có thể chứa vi trùng gây bệnh trên cơ thể.
            p Trên đây là lợi ích của máy lọc không khí giúp loại bỏ các loại virus gây bệnh trong không khí, nếu bạn đang băn khoăn chưa biết có nên dùng máy lọc không khí hay không, vui lòng liên hệ Hotline 1900989868 để được tư vấn trực tiếp.
          .box-ctt-footer
            span.pr-3 Chia sẻ
            a.mr-3(href='#')
              img(src='images/logo-fb.png')
            a(href='#')
              img(src='images/logo-twitter.png')

  .dmt-wrap.ttlq-wrap
    .container.sm
      .row
        .header-dmt
          h3.mb-0 Tin tức liên quan
        .row-inner
          - for(var i = 32; i < 35; i++)
            .card-blog.sd
              .cover
                a(href='#')
                  img(src=`https://picsum.photos/id/${i}/360/200`, alt='demo')
              .content
                h3
                  a(href='#') Kinh nghiệm dùng máy lọc không khí hiệu quả, tiết kiệm
                span.meta 26/12/2019 11:58
                p Ngày 06/11/2019, Tổng Công ty CP Công trình Viettel (Viettel Construction) tiến hành lễ ký kết hợp tác với Công ty CP Lumi Việt Nam (Đơn vị cung ...

  .sub-footer
    .container.sm
      +featuresSubFooter

  +homeCta