extends modules/layout/_page-default
include modules/_breadcrumb
include modules/_common

block head
  +head('dat-hang-thong-tin-giao-hang-them')
block header
  //- +headerCart
  .header-cart.js-header-wrap
    .container
      .row.justify-content-between.align-items-center
        .logo
          img(src='images/logo.png', alt='demo')
        p.mb-0 Tổng đài hỗ trợ:
          strong 1900 989868
block main
  .step-wrap
    .container
      .row.justify-content-center
        .inner
          .item.step-01.active
            .icon
              span 1
            .content
              span Đăng nhập
          .item.step-02.active
            .icon
              span 2
            .content
              span Thông tin giao hàng
          .item.step-03
            .icon
              span 3
            .content
              span Đặt mua, thanh toán
  .form-ttgh.new
    .container
      .row
        h3.title Thông tin giao hàng
        .inner.mx-auto.sd
          form
            .form-group
              label(for="hnt") Họ và tên
              input#hnt.form-control.is-invalid(type='text', placeholder='Họ và tên')
              .valid-feedback.form-text.invalid-feedback.text-right Vui lòng không bỏ trống
            .form-group
              label(for="sdt") Số điện thoại
              input#sdt.form-control(type='text', placeholder='Nhập số điện thoại ')
            .form-group
              label(for="tp") Tỉnh/Thành phố
              select#tp.custom-select.common-select-02
                option Vui lòng chọn tỉnh , thành phố
                option 2
                option 3
                option 4
                option 5
            .form-group
              label(for="qh") Quận/Huyện
              select#qh.custom-select.common-select-02
                option Vui lòng chọn quận, huyện
                option 2
                option 3
                option 4
                option 5
            .form-group
              label(for="px") Phường/Xã
              select#px.custom-select.common-select-02
                option Vui lòng chọn phường, xã
                option 2
                option 3
                option 4
                option 5
            .form-group
              label(for="dc") Địa chỉ
              input#dc.form-control(type='text', placeholder='Nhập số nhà, tên đường')
            .footer-form
              .form-group
                label Loại địa chỉ
                .btn-group.btn-group-toggle(data-toggle="buttons")
                  label.btn.btn-outline-white
                    input#option1(type="radio" name="options" checked="")
                    span.icon.ic-house.pr-2
                    |  Nhà
                  label.btn.btn-outline-white
                    input#option2(type="radio" name="options")
                    span.icon.ic-suitcase.pr-2
                    |  Văn phòng
              .form-group
                .custom-control.custom-checkbox
                  input#customCheckdefault.custom-control-input(type="checkbox", checked)
                  label.custom-control-label.no-wrap.pl-2(for="customCheckdefault") Đặt làm địa chỉ mặc định
              .form-group.group-btn.mb-0
                button.btn.btn-grey.btn-lg.btn-huy Huỷ
                button.btn.btn-orange.btn-lg Lưu và tiếp tục
  .sub-footer
    .container.sm
      +featuresSubFooter

  +homeCta