extends modules/layout/_page-default
include modules/_breadcrumb
include modules/_common

block head
  +head('dat-hang-thanh-toan')
block header
  .header-cart.js-header-wrap
    .container
      .row.justify-content-between.align-items-center
        .logo
          img(src='images/logo.png', alt='demo')
        p.mb-0 Tổng đài hỗ trợ:
          strong 1900 989868
block main
  .step-wrap
    .container
      .row.justify-content-center
        .inner
          .item.step-01.active
            .icon
              span 1
            .content
              span Đăng nhập
          .item.step-02.active
            .icon
              span 2
            .content
              span Thông tin giao hàng
          .item.step-03.active
            .icon
              span 3
            .content
              span Đặt mua, thanh toán
  .pttt-wrap
    .container.sm
      .row
        h3.title Chọn phương thức thanh toán
      .row
        .row-inner
          .row
            .col-lg-8.mb-4.mb-lg-0
              .box.sd
                #accordionExample.accordion
                  .card
                    #headingOne.card-header
                      h2.mb-0.w-100
                        button.btn.collapsed(type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne")
                          .left
                            span.ic-navigation.pr-3
                            | Thanh toán khi nhận hàng
                          span.ic-circle-check
                    #collapseOne.collapse(aria-labelledby="headingOne" data-parent="#accordionExample")
                  .card
                    #headingTwo.card-header
                      h2.mb-0.w-100
                        button.btn.collapsed(type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
                          .left
                            span.ic-visa.pr-3
                            | Thanh toán online qua Visa, Master Card
                          span.ic-circle-check
                    #collapseTwo.collapse(aria-labelledby="headingTwo" data-parent="#accordionExample")
                      .card-body
                        form.form-visa.mx-auto
                          .form-group
                            label(for="st") Số thẻ
                            input#st.form-control(type='text', placeholder='Nhập số thẻ')
                          .form-group
                            label(for="tit") Tên in trên thẻ
                            input#tit.form-control(type='text', placeholder='Nhập tên in trên thẻ')
                          .field-half
                            .form-group
                              label(for="hh") Ngày hết hạn
                              input#hh.form-control(type='text', placeholder='mm   /   yy')
                            .form-group
                              label(for="ccv") CCV
                              input#ccv.form-control(type='text')
                          .form-group
                            .custom-control.custom-checkbox
                              input#customCheckdefault.custom-control-input(type="checkbox", checked)
                              label.custom-control-label.no-wrap.pl-2(for="customCheckdefault") Bảo mật và lưu thanh toán lần sau
                  .card
                    #headingThree.card-header
                      h2.mb-0.w-100
                        button.btn(type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree") 
                          .left
                            span.ic-credit-card.pr-3
                            | Thanh toán qua thẻ ATM nội địa hoặc tài khoản ngân hàng
                          span.ic-circle-check
                    #collapseThree.collapse.show(aria-labelledby="headingThree" data-parent="#accordionExample")
                      .card-body
                        .inner
                          .btn-group.btn-group-toggle.group-bank(data-toggle="buttons")
                            label.btn.active
                              input#option1(type="radio" name="options" checked="")
                              img(src='images/vc-logo.png', alt='demo')
                            - for(var i = 0; i < 11; i++)
                              label.btn
                                input#option2(type="radio" name="options")
                                img(src='images/vc-logo.png', alt='demo')
                          .bank-info
                            h4.bank-title Ngân hàng TMCP Việt Nam Thịnh Vượng
                            p Tên tài khoản : Công Ty TNHH Dịch Vụ Hàng Không Hồng Hạc
                            p Số tài khoản : 123456789
                            p Chi nhánh: Sở Giao dịch
                .pt-3
                  button.btn.btn-orange.btn-dm Đặt mua
            .col-lg-4
              .sd.box-tt
                .box-tt-header
                  h4.title-tt THÔNG TIN GIAO HÀNG
                  a(href='#') Sửa
                .box-tt-body
                  p.name Nguyễn Thành Công
                  p Địa chỉ: 36 Phố Duy Tân, Dịch Vọng Hậu, Cầu Giấy, Hà Nội, Việt Nam
                  p.mb-0 Điện thoại: 0999999999

              .sd.box-tt
                .box-tt-header
                  h4.title-tt THÔNG TIN ĐƠN HÀNG
                  a(href='#') Sửa
                .box-tt-body
                  .item
                    .field-tt.d-flex.justify-content-between
                      span.text-orange.f-210 Gói Chung Cư Thông Minh Standard 2 Phòng Ngủ
                      span.price 30.000.000đ
                    .field-tt
                      span.info Số lượng: 1
                    .field-tt
                      span.info Nhà cung cấp: 
                        a(href='#') Lumi
                  .item
                    .field-tt.d-flex.justify-content-between
                      span.text-orange Máy lạnh z1.5 HP FTKQ35SAVMV
                      span.price 30.000.000đ
                    .field-tt
                      span.info Số lượng: 1
                      span.info Nhà cung cấp: 
                        a(href='#') Daikin
                    .field-tt
                      span.info Tạm tính:
                      span.price.lg 41.000.000đ
                  .sum
                    .field-tt.d-flex.justify-content-between.mb-4
                      span.info Tạm tính:
                      span.price.lg 1.000.000đ
                    .field-tt.d-flex.justify-content-between.mb-3
                      span.info Phí giao hàng:
                      span.price.lg 0đ
                    .field-tt.d-flex.justify-content-between.mb-0
                      span.info Tổng tiền hàng:
                      span.price.xl.text-orange 41.000.000đ
                    .text-right
                      span.note Đã bao gồm VAT (Nếu có)


  .sub-footer
    .container.sm
      +featuresSubFooter

  +homeCta

