extends modules/layout/_page-default

block head
  +head('Home')

block main
  .contain
    #owl-carousel.owl-carousel.owl-theme
      .item(data-color='#000')
        | 1
      .item(data-color='#00918e')
        | 2
      .item(data-color='#f78624')
        | 3
      .item(data-color='#132726')
        | 4
      .item(data-color='#737c7c')
        | 5
      .item(data-color='#aab6b6')
        | 6