extends modules/layout/_page-default
include modules/_home-slider
include modules/_product-slider
include modules/_card-dv

block head
  +head('Home')
block header
  +header('header-home')

block main
  +homeSlider
  .promotion-01
    .container.sm
      .row.sd.align-items-center.justify-content-between
        .content
          p Kiến tạo 
            br
            | cuộc sống mới
          .divider
          a(href='#') KHÁM PHÁ NGAY
            .icon-circle.ml-2
              span.ic-next
        .cover
          img(src='https://picsum.photos/820/330?random=1', alt='demo')

  .kmh.mb-30
    .container.sm
      .row.sd.flex-wrap
        .sd-header.px-3.sd-header-kmh.d-flex.justify-content-between.align-items-center
          .left
            span.ic-fire
            h2 KHUYẾN MÃI HOT
          .right
            a(href="#") Xem tất cả
              .icon-circle.ml-2
                span.ic-next
        .sd-content
          +productSlider

  .spnb.mb-30
    .container.sm
      .row.sd.flex-wrap
        .sd-header.px-3.d-flex.justify-content-between.align-items-center
          h2 SẢN PHẨM NỔI BẬT
          a(href="#") Xem tất cả
            .icon-circle.ml-2
              span.ic-next
        .sd-content
          +productSlider

  .spm.mb-30
    .container.sm
      .row.sd.flex-wrap
        .sd-header.px-3.d-flex.justify-content-between.align-items-center
          h2 SẢN PHẨM MỚI
          a(href="#") Xem tất cả
            .icon-circle.ml-2
              span.ic-next
        .sd-content
          +productSlider('new')

  .dvnb.mb-3
    .container.sm
      .row
        .sd-header.d-flex.justify-content-between.align-items-center
          h2 DỊCH VỤ NỔI BẬT
          a(href="#") Xem tất cả
            .icon-circle.ml-2
              span.ic-next
      .row
        .row-inner
          .row
            -
              var dvs = [
                {
                  cover: 'https://picsum.photos/270/200?random=1',
                  title: 'Phần Mềm Quản Lý Bán Hàng Shop.ONE',
                  content: 'Shop.ONE là phần mềm quản lý cửa hàng, bán hàng bằng mã vạch chuyên nghiệp do tập đoàn Viettel phát triển (được sử dụng thử miễn phí 10 ngày)...'
                },
                {
                  cover: 'https://picsum.photos/270/200?random=2',
                  title: 'PSTN - Điện Thoại Cố Định Viettel',
                  content: 'PSTN là dịch vụ điện thoại cố định của Viettel giúp khách hàng có thể gọi nội hạt, gọi liên tỉnh và quốc tế truyền thống, gọi liên tỉnh và quốc tế VoIP...'
                },
                {
                  cover: 'https://picsum.photos/270/200?random=3',
                  title: 'Chữ Ký Số Viettel – Thủ Tục Nhanh Gọn, Tư Vấn Hỗ Trợ Tận Nơi',
                  content: 'Chữ ký số Viettel là 1 dạng chữ ký điện tử. Thông tin của người gửi được mã hóa bằng cặp khóa riêng đính kèm theo văn bản nhằm bảo mật cho người nhận...'
                },
                {
                  cover: 'https://picsum.photos/270/200?random=4',
                  title: 'Hòa Mạng Trả Sau Viettel - Khuyến Mại Cực Lớn',
                  content: 'Kể từ ngày 21/11/2018, Viettel bắt đầu triển khai các gói cước mới với ưu đãi cực khủng dành riêng cho các thuê bao trả sau trên toàn quốc.'
                },
              ]
            each dv in dvs
              .col-lg-3.col-md-6.mb-30
                +cardDv(dv.cover, dv.title, dv.content)

  .home-banner
    .container.sm
      .row
        .row-inner
          .row
            .col-lg-6
              a(href='#')
                img(src='images/banner-01.jpg', alt='cover')
            .col-lg-6
              a(href='#')
                img(src='images/banner-02.jpg', alt='cover')

  .home-partner
    .container.sm
      .row.justify-content-xl-between.partner.justify-content-center
        a(href="#")
          img(src='images/daikin.png', alt='demo')
        a(href="#")
          img(src='images/hik.png', alt='demo')
        a(href="#")
          img(src='images/samsung.png', alt='demo')
        a(href="#")
          img(src='images/lumi.png', alt='demo')
        a(href="#")
          img(src='images/panasonic.png', alt='demo')

      .row.justify-content-between.features
        .item-feature
          .icon
            span.ic-support
              span.path1
              span.path2
              span.path3
          .content
            span Hỗ trợ quý khách hàng 24/7 suốt thời gian sử dụng
        .item-feature
          .icon
            span.ic-payment
              span.path1
              span.path2
          .content
            span Thanh toán linh hoạt qua tiền mặt, visa
        .item-feature
          .icon
            span.ic-change
              span.path1
              span.path2
          .content
            span Đổi trả nhanh trong 7 ngày
        .item-feature
          .icon
            span.ic-delivery
              span.path1
              span.path2
              span.path3
          .content
            span Giao hàng hoả tốc trong 2 giờ

  .home-cta
    .container.sm
      .row.justify-content-center
        .inner
          .left
            .icon
              span.ic-email
                span.path1
                span.path2
            .content  
              strong Đăng ký nhận bản tin Viettel AIO
              span Nhận các thông tin khuyến mãi siêu hấp dẫn
          .right
            form.form-subcrible
              .input-group
                input.form-control(type="text" placeholder="Địa chỉ email của bạn")
                .input-group-append
                  button.btn.btn-search.btn-color3(type="button") ĐĂNG KÝ

