extends modules/layout/_page-default
include modules/_product-slider
include modules/_breadcrumb
include modules/_common

block head
  +head('Product Detail')
block header
  +header

block main
  .breadcrumb-wrap
    .container.sm
      .row
        +breadcrumb
  .product-detail-page
    .product-detail-page-inner
      .container.sm
        .row
          .product-detail-overview
            .left.js-product-detail-feature-images
              .product-detail-info.pl-0.d-block.d-xl-none.mb-4
                h2.title Máy lạnh z1.5 HP FTKQ35SAVMV
                .rating-wrap
                  .rating.pr-3
                    span.ic-star.active
                    span.ic-star.active
                    span.ic-star.active
                    span.ic-star.active
                    span.ic-star
                  span (16 đánh giá)
                p.product-detail-code Mã sản phẩm: 271209
                .product-detail-price-wrap.flex-wrap
                  span.product-price 95.000.000đ
                  span.product-price--old 105.676.300đ
                  span.badge.badge-orange -10%
                p.product-detail-brand Thương hiệu:
                  a(href='#') Daikin
              .product-detail-feature-image
                img.js-product-detail-feature-image-main(src='https://picsum.photos/460?random=1', alt='demo')
              .product-detail-thumbs
                .item
                  img.js-product-detail-thumb(src='https://picsum.photos/460?random=1', alt='demo')
                .item
                  img.js-product-detail-thumb(src='https://picsum.photos/460?random=2', alt='demo')
                .item
                  img.js-product-detail-thumb(src='https://picsum.photos/460?random=3', alt='demo')
                .item
                  img.js-product-detail-thumb(src='https://picsum.photos/460?random=4', alt='demo')
                .item
                  .overlay
                    span Xem tất cả ảnh
                  img(src='https://picsum.photos/460?random=5', alt='demo')
              .product-detail-share
                p.mb-0 Chia sẻ
                  a(href='#')
                    span.ic-fb.px-3
                      span.path1
                      span.path2
                  a(href='#')
                    span.ic-tw
                      span.path1
                      span.path2
            .right
              .product-detail-info
                .d-none.d-xl-block
                  h2.title Máy lạnh z1.5 HP FTKQ35SAVMV
                  .rating-wrap
                    .rating.pr-3
                      span.ic-star.active
                      span.ic-star.active
                      span.ic-star.active
                      span.ic-star.active
                      span.ic-star
                    span (16 đánh giá)
                  p.product-detail-code Mã sản phẩm: 271209
                  .product-detail-price-wrap
                    span.product-price 95.000.000đ
                    span.product-price--old 105.676.300đ
                    span.badge.badge-orange -10%
                  p.product-detail-brand Thương hiệu:
                    a(href='#') Daikin
                .s-divider
                .product-detail-short-info
                  .left
                    ul
                      li Loại máy: Điều hòa một chiều
                      li Công nghệ: Inverter
                      li Công suất: 12000 BTU
                      li Cục nóng: 32kg, kích thước: 550 x 658 x 275 mm
                      li Cục lạnh: 8kg, kích thước: 283 x 770 x 203 mm
                  .right
                    .feature-badges
                      .icon
                        span.ic-top-warranty
                      .content
                        span Cam kết hàng chính hãng 100%
                    .feature-badges
                      .icon
                        span.ic-hsvg
                          span.path1
                          span.path2
                      .content
                        span Giao hàng hoả tốc trong 2h
                .product-detail-km
                  .badges-km KHUYẾN MÃI
                  .item
                    .icon
                      span.ic-check-feature
                        span.path1
                        span.path2
                    .content
                      span Miễn phí vận chuyển
                  .item
                    .icon
                      span.ic-check-feature
                        span.path1
                        span.path2
                    .content
                      span Tặng 1 bộ vệ sinh điều hoà cao cấp
                .product-detail-footer-action
                  .left
                    span.pr-3 Số lượng
                    .input-group.counter-form
                      .input-group-prepend.js-btn-number(disabled='disabled', data-type='minus', data-field='quant[1]')
                        span.input-group-text -
                      input.form-control.js-input-number(type='text', name='quant[1]', value='1', min='1', max='10')
                      .input-group-append.js-btn-number(data-type='plus', data-field='quant[1]')
                        span.input-group-text +
                  .right
                    button.btn.btn-lg.btn-color3
                      span.ic-cart
                      | Thêm vào giỏ hàng
                    button.btn.btn-lg.btn-orange Mua ngay
                .s-divider
                .product-detail-dvmk
                  h3 DỊCH VỤ MUA KÈM
                  .item-dvmk
                    .cover
                      img(src='https://picsum.photos/67?random=1', alt='demo')
                    .content
                      h4
                        a(href='#') Dịch vụ bảo dưỡng điều hòa treo tường
                      span.price 150.000 vnđ
                    .action
                      button.btn.btn-outline-color3
                        span.icon.pr-2 +
                        span Thêm vào giỏ
                  .d-divider
                  .item-dvmk
                    .cover
                      img(src='https://picsum.photos/67?random=2', alt='demo')
                    .content
                      h4
                        a(href='#') Dịch vụ bảo dưỡng điều hòa treo tường 2 năm
                      span.price 150.000 vnđ
                    .action
                      button.btn.btn-outline-color3
                        span.icon.pr-2 +
                        span Thêm vào giỏ

    .product-detail-info-wrap.mb-4
      .container.sm
        .row
          .product-detail-information
            .box.sd
              .title-02
                h3 THÔNG TIN CHI TIẾT
              table.product-detail-information-table
                tr
                  td
                    strong Thương hiệu:
                    span Daikin
                tr
                  td
                    strong Loại máy:
                    span Điều hòa một chiều
                tr
                  td
                    strong Kiểu máy:
                    span Treo tường
                tr
                  td
                    strong Thương hiệu:
                    span Daikin
                tr
                  td
                    strong Loại máy:
                    span Điều hòa một chiều
                tr
                  td
                    strong Kiểu máy:
                    span Treo tường
                tr
                  td
                    strong Thông tin dàn nóng:
                    span 550 x 658 x 275 mm

              .title-02
                h3 MÔ TẢ SẢN PHẨM
              .content-sumary
                p Công nghệ Inverter - tiết kiệm điện, vận hành êm, làm lạnh sâu và hơi lạnh lan tỏa đều.
                p Công nghệ Nanoe-G - lọc không khí trong lành, sạch bụi bẩn.
                p Cửa gió rộng Big Flap lên đến 79mm cho khả năng thổi gió xa hơn.
                p Làm lạnh nhanh công suất cao Powerful.
                p Chế độ ngủ đêm - Tự điều chỉnh nhiệt độ phù hợp với thân nhiệt và môi trường.
                p Chế độ hoạt động yên tĩnh mang lại những giây phút thư giãn tuyệt vời cho cả nhà.
                img(src='https://picsum.photos/640/480?random=1', alt='demo')

    .product-detail-relate.mb-30
      .container.sm
        .row
          .sd-header.d-flex.justify-content-between.align-items-center.border-bottom-0
            h2 SẢN PHẨM LIÊN QUAN
            a(href="#") Xem tất cả
              .icon-circle.ml-2
                span.ic-next
        .row
          +productSlider2

    .product-detail-relate.mb-30
      .container.sm
        .row
          .sd-header.d-flex.justify-content-between.align-items-center.border-bottom-0
            h2 SẢN PHẨM ĐÃ XEM
            a(href="#") Xem tất cả
              .icon-circle.ml-2
                span.ic-next
        .row
          +productSlider2

    .product-detail-dg
      .container.sm
        .row
          .sd-header.d-flex.justify-content-between.align-items-center.border-bottom-0
            h2 ĐÁNH GIÁ VÀ NHẬN XÉT
          .box.sd
            .rating-overview
              .left
                .rating-avg
                  p.title Đánh giá trung bình
                  p.score 4/5
                  .rating
                    span.ic-star.active
                    span.ic-star.active
                    span.ic-star.active
                    span.ic-star.active
                    span.ic-star
                  p.tdg.mb-0 (16 đánh giá)
                .rating-detail
                  .item
                    +rating
                    .progress
                      .progress-bar.bg-color3(role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100")
                    span.value 50%
                  .item
                    +rating
                    .progress
                      .progress-bar.bg-color3(role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100")
                    span.value 40%
                  .item
                    +rating
                    .progress
                      .progress-bar.bg-color3(role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100")
                    span.value 30%
                  .item
                    +rating
                    .progress
                      .progress-bar.bg-color3(role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100")
                    span.value 20%
                  .item
                    +rating
                    .progress
                      .progress-bar.bg-color3(role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")
                    span.value 10%
              .right.pl-lg-4
                .box-open-dg(type="button" data-toggle="modal" data-target=".modal-dg")
                  p Chia sẻ của bạn về sản phẩm
                  button.btn.btn-orange Viết đánh giá
            .rating-filter
              p.title Đánh giá trung bình
              .filters-rating
                select.custom-select.common-select-01.mr-3
                  option(selected="") Đánh giá mới nhất
                  option(value="1") One
                  option(value="2") Two
                  option(value="3") Three
                select.custom-select.common-select-01
                  option(selected="") Tất cả sao
                  option(value="1") One
                  option(value="2") Two
                  option(value="3") Three
            .list-dg
              .no-dg
                .inner
                  span.ic-empty-rate
                  p.mb-0 Hiện chưa có nhận xét nào cho sản phẩm.
                  p.mb-0 Hãy trở thành người đầu tiên nhận xét sản phẩm này
              .item-dg
                .cover
                  .thumb
                    img(src='https://picsum.photos/50?random=1', alt='demo')
                  .meta
                    h5.name Lê Văn Anh
                    span.time 1 ngày trước
                .content-wrap
                  .rating-line
                    +rating
                    .cn
                      span.ic-safety
                      span Chứng nhận đã mua hàng
                  h4.title Hài Lòng Và Sẽ Mua Thêm 1 Cái Nữa Lắp Cho Phòng Của Mẹ Mình
                  .content
                    p Giao hàng và lắp đặt nhanh chóng, nhân viên Viettel rất nhiệt tình
                  .count-thank
                    span.ic-hand-like
                    span 0 cảm ơn
              .item-dg
                .cover
                  .thumb
                    img(src='https://picsum.photos/50?random=2', alt='demo')
                  .meta
                    h5.name Lê Văn Anh
                    span.time 1 ngày trước
                .content-wrap
                  .rating-line
                    +rating
                    .cn
                      span.ic-safety
                      span Chứng nhận đã mua hàng
                  h4.title Hài Lòng Và Sẽ Mua Thêm 1 Cái Nữa Lắp Cho Phòng Của Mẹ Mình
                  .content
                    p Giao hàng và lắp đặt nhanh chóng, nhân viên Viettel rất nhiệt tình
                    .content-images
                      .item
                        img(src='https://picsum.photos/100?random=1', alt='demo')
                      .item
                        img(src='https://picsum.photos/100?random=2', alt='demo')
                      .item
                        img(src='https://picsum.photos/100?random=1', alt='demo')
                      .item
                        img(src='https://picsum.photos/100?random=2', alt='demo')
                      .item
                        img(src='https://picsum.photos/100?random=1', alt='demo')
                      .item
                        img(src='https://picsum.photos/100?random=2', alt='demo')
                      .item
                        img(src='https://picsum.photos/100?random=1', alt='demo')
                      .item
                        img(src='https://picsum.photos/100?random=2', alt='demo')
                      .item
                        img(src='https://picsum.photos/100?random=1', alt='demo')
                      .item
                        img(src='https://picsum.photos/100?random=2', alt='demo')
                  .count-thank
                    span.ic-hand-like.active
                    span 2 cảm ơn
            .thanking-vt
              .thanking-vt-inner
                h3 Viettel All in One
                span Chào bạn, Viettel All in One xin cảm ơn bạn đã chia sẻ những cảm nhận tuyệt vời về sản phẩm. Chúng tôi sẽ liên tục cập nhật những sản phẩm tốt để đem lại cho bạn những trải nghiệm tốt nhất. Hi vọng bạn sẽ đồng hành cùng Viettel All in One. Thân!
            .pagination-wrap
              +pagination

    .sub-footer
      .container.sm
        +featuresSubFooter
    +homeCta
  .modal.fade.modal-dg(tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog.modal-lg.modal-dialog-centered
      .modal-content
        .modal-header
          h5.modal-title ĐÁNH GIÁ SẢN PHẨM
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") ×
        .modal-body
          .product-info
            .cover
              img(src='images/img-sp.png', alt='demo')
            .content
              h3.title Máy lạnh z1.5 HP FTKQ35SAVMV
              span.brand Thương hiệu:
                a(href='#') Daikin
          .product-dg
            .rating-wrap
              span.pr-3 Đánh giá về sản phẩm
              +rating
            .form-group
              label(for="td") Tiêu đề
              input#td.form-control(type="text", placeholder="Nhập tiêu đề đánh giá (không bắt buộc)")
            .form-group.nd
              label(for="nd") Nội dung nhận xét
              textarea#nd.form-control(rows="5")
            .upload-images-wrap
              .upload-image-action
                span.pr-3 Thêm ảnh (tối đa 5 ảnh)
                button.btn.btn-orange.btn-sm Thêm ảnh
              .upload-images
                .image-wrap
                  img(src='https://picsum.photos/80?random=1', alt='demo')
                  button.delete-img
                    span ×
                .image-wrap
                  img(src='https://picsum.photos/80?random=2', alt='demo')
                  button.delete-img
                    span ×
        .modal-footer
          i Lưu ý: Xem tiêu chí xét duyệt đánh giá của Viettel AIO 
            a(href='#') tại đây
          button.btn.btn-color3(type="button" data-dismiss="modal") Gửi đánh giá